html, body {
  margin: 0;
  background: #000;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}

.hex {
  fill: rgba(0,0,0,0);
  cursor: pointer;
}

.hex:hover {
  fill: rgba(0, 170, 255, 0.3);
}
